@page "/counter"
@using FirstDemo.Blazor.UI
@using FirstLibrary.Core.Northwind
@inject ICategorie categorieService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Component1/>

<ListaCategorie/>


@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        var nuovaCategoria = new Categoria
            {
                Nome = "Cat300",
                Descrizione = "Descrizione nuovissima categoria"
            };
        await categorieService.CreateCategoria(nuovaCategoria);

    }
}
